.top-nav-bar {
    background-color: rgb(75, 104, 201);
    color: white;
    padding: 1rem 0.5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;

    display: flex;
}
.ponyListLogo-box {
    margin-left: 1rem;
}
.banner-logo-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.user-logo,
.home-logo {
    color: white;
    font-size: 1.4rem;
    margin-right: 2rem;
}
.logout-btn {
    color: white;
    text-decoration: none !important;
    margin-right: 2rem;
    margin-top: 0.3rem;
}

.user-logo:hover,
.home-logo:hover,
.logout-btn:hover {
    transform: scale(1.1);
    color: #e1e3e4;
}

@media (max-width: 550px) {
    .user-logo,
    .home-logo,
    .logout-btn {
        margin-right: 1rem;
    }
  }

#changeMargins {
    margin-left: -1rem;
    margin-right: 1rem;
}
  