.top-nav-bar {
    background-color: rgb(75, 104, 201);
    color: white;
    padding: 1rem 0.5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;

    display: flex;
}
.ponyListLogo-box {
    margin-left: 1rem;
}
.banner-logo-box {
    margin-left: auto;
    margin-right: 2rem;
}
.user-logo,
.home-logo,
.share-logo {
    color: white;
    font-size: 1.4rem;
}

.user-logo:hover,
.home-logo:hover {
    transform: scale(1.1);
    color: #e1e3e4;
}